/* Estilo global para el body */
body {
    min-height: 100vh;
    font-family: Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f4a460; /* Marrón claro */
}

/* Estilo de los botones */
button {
    background-color: #3f4547; /* Gris oscuro */
    color: white;
    border-radius: 20px;
    transition: box-shadow 0.3s, transform 0.3s, background-color 0.3s; /* Agregamos transiciones */
}

button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
    background-color: #696969; /* Gris */
}

/* Pantalla inicial (Dashboard) */
.order {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Cambiado de space-between a space-around */
}


/* Estilo del formulario */
#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    margin: 50px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo de color cristalino */
    border-radius: 10px;
    padding: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}
/*Make the image in the form smaller*/
#form img {
    width: 250px;
    height: 250px;
    margin-bottom: 0px; /* Espacio entre la imagen y el siguiente elemento */
    justify-content: center;
    align-items: center;
}


/* Contenedor de nombres de jugadores */
#playerNames {
    margin-bottom: 20px; /* Espacio entre el contenedor y el siguiente elemento */
}

/* Botones de selección del tablero */
#boardSizeButtons {
    display: flex;
    justify-content: flex-end; /* Coloca los botones a la derecha */
}

#boardSizeButtons button {
    background-color: #17d97a;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px; /* Espacio entre los botones */
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#boardSizeButtons button:hover {
    background-color: #07703c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Pantalla del tablero */
.backButton {
    float: left; /* Botón de atrás a la izquierda */
}

/* Estilo de las tablas */
.table3,
.table4,
.table5 {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    gap: 4px;
    margin: 10px;
    background-color: rgb(220, 148, 116); /* Marrón claro */
}

.table4 {
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(4, 50px);
}

.table5 {
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(5, 50px);
}

/* Casillas de las tablas */
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4a460; /* Marrón claro */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Casilla inicial */
.board-cell {
    background-color: #f4a460; /* Marrón claro */
    border-radius: 5px;
}

/* board */
#board {
    display: flex;
    flex-direction: row;
}

#Tables, #scores, #victories{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo de color cristalino */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.hidden {
    display: none;
}




