/* Body styling */
body {
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: radial-gradient(circle, #FF6B6B, #3D315B); /* Radial gradient background */
    color: #7e80b7; /* Font color */
    background-size: cover; /* Cover the entire viewport */
    overflow: hidden; /* Hide overflowing content */
    position: relative; /* Position content relative to the body */
}

/* Unique text styling */
h1 {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better visibility */
    color: #ffffff; /* Font color */
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    color: #ffffff; /* Font color */
}

/* Unique button styling */
button {
    background-color: #4CAF50;
    border: none;
    color: #ffffff; /* Font color */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

button:hover {
    transform: scale(1.1); /* Increase button size on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Add shadow effect on hover */
}

/* Pantalla inicial (Dashboard) */
.order {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Cambiado de space-between a space-around */
}


/* Style for the registration section container */
.registration-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    background: radial-gradient(circle, #f7f7f7 20%, #d3f7c3 40%);
    background-size: 5px 5px; /* Adjust the size of the points */
    border-radius: 20px; /* Rounded border */
    padding: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Shadow effect */
}


/*Make the image in the form smaller and centered*/
#form img {
    width: 200px; /* Decrease image size */
    height: 200px; /* Decrease image size */
    margin-bottom: 20px; /* Increase space between image and next elements */
    justify-content: center;
    align-items: center;
    display: block; /* Center the image */
    margin-left: auto; /* Center the image horizontally */
    margin-right: auto; /* Center the image horizontally */
}

/* Contenedor de nombres de jugadores */
#playerNames {
    margin-bottom: 20px; /* Space between the container and the next element */
}

/* Botones de selección del tablero */
#boardSizeButtons {
    align-self: flex-end; /* Align the buttons to the right */
    margin-top: 20px; /* Space between the buttons and the previous element */
}


#boardSizeButtons button {
    background-color: #17d97a;
    color: #ffffff; /* Font color */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px; /* Espacio entre los botones */
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#boardSizeButtons button:hover {
    background-color: #07703c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Pantalla del tablero */
.backButton {
    float: left; /* Botón de atrás a la izquierda */
}

/* Estilo de las tablas */
.table3,
.table4,
.table5 {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    gap: 4px;
    margin: 10px;
    background-color: rgb(220, 148, 116); /* Marrón claro */
}

.table4 {
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(4, 50px);
}

.table5 {
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(5, 50px);
}

/* Casillas de las tablas */
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4a460; /* Marrón claro */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Casilla inicial */
.board-cell {
    background-color: #f4a460; /* Marrón claro */
    border-radius: 5px;
}

/* board */
#board {
    display: flex;
    flex-direction: row;
}

/* Style for the game sections and victory sections */
#Tables, #scores, #victories {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background: radial-gradient(circle, #f7f7f7 20%, #d3f7c3 40%);
    background-size: 5px 5px; /* Adjust the size of the points */
    border-radius: 20px; /* Rounded border */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Shadow effect */
}


.hidden {
    display: none;
}